@mixin lds-ring-size($size, $margin, $border) {
    width: $size + $margin + $border;
    height: $size + $margin + $border;

    div {
        width: $size;
        height: $size;
        margin: $margin;
        border-width: $border;
    }
}

.lds-ring {
    display: inline-block;
    position: relative;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-style: solid;
        border-color: silver transparent transparent transparent;
    }

    div:nth-child(1) {
        animation-delay: -0.45s;
    }

    div:nth-child(2) {
        animation-delay: -0.3s;
    }

    div:nth-child(3) {
        animation-delay: -0.15s;
    }

    &.lds-ring--size--64 {
        @include lds-ring-size(64px, 8px, 8px);
    }

    &.lds-ring--size--32 {
        @include lds-ring-size(32px, 4px, 4px);
    }

    &.lds-ring--size--24 {
        @include lds-ring-size(24px, 3px, 3px);
    }

    &.lds-ring--size--16 {
        @include lds-ring-size(16px, 2px, 2px);
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
  