.dg-stub__text {
    color: transparent;
    background-clip: content-box;
    background: linear-gradient(90deg, #ffffff00, #fffffff0, #ffffff00);
}

.dg-stub__icon {
    display: inline-block;
    color: transparent;
    background-clip: content-box;
    background: linear-gradient(90deg, #ffffff00, #fffffff0, #ffffff00);
}

.dg-stub {
    background: #C5CFE4;
}