<script>
    export let text = '';
    /***
     * @type {'button'|'submit'}
     */
    export let htmlType = 'button';

    /**
     * @type {'default'|'primary'|'danger'|'link'}
     */
    export let type = 'default';
    export let disabled = false;

    /**
     * @type {'small'|'normal'|'large'}
     */
    export let size = 'normal';
    export let focus = false;
    export let title = null;
    export let noMargin = false;
    export let rounded = false;
    export let empty = false;

    export let className = '';
    export let wrapperClassName = '';

    let buttonRef;

    if (focus) {
        buttonRef.focus();
    }
</script>

<span class="button-wrapper button-wrapper--{size} {wrapperClassName}"
    class:button-wrapper--focus={focus}
    class:button-wrapper--no-margin={noMargin}
    class:button-wrapper--disabled={disabled}
    class:button-wrapper--rounded={rounded}
>
    <button bind:this={buttonRef} 
        class="button button--{type} button--{size} {className}"
        class:button--focus={focus}
        class:button--rounded={rounded}
        class:button--disabled={disabled}
        class:button--empty={empty}
        disabled={disabled}
        type={htmlType} 
        title={title}
        on:focus={() => focus = true}
        on:blur={() => focus = false}
        on:click
    >
        <span class="button__text">
            {#if text}
                {text}
            {:else}
                <slot></slot>
            {/if}
        </span>
    </button>
</span>

<style lang="scss">
    @import "./styles/_button.scss";
</style>