<script>
    import { createEventDispatcher, getContext, onMount } from 'svelte';
    const dispatch = createEventDispatcher();

    import { v4 } from 'node-uuid';

    export let id = '';
    export let label = '';
    export let name = '';
    export let value = undefined;
    export let focus = false;
    export let isValid = true;
    export let errorFeedback = undefined;
    export let constraints = [];
    /** @type {'dark'|'light'} **/
    export let theme = 'dark';
    export let noMargin = false;
    /** @type {'small'|'normal'} */
    export let size = 'normal';

    let controlRef;
    let firstUserIteractionDone = false;

    if (focus) {
        setTimeout(() => {
            controlRef && controlRef.focus();
        }, 100);
    }

    id = id && id.length > 0 ? id : v4();

    $: hasValue = value && value.length > 0;

    const context = getContext('form');
    if (context) {
        onMount(() => {
            const validateComponent = {
                getName: () => name,
                getValue: () => value,
                validate: () => validate(true),
                reset: () => resetValidationState(),
                setError: (error) => {
                    isValid = error == null;
                    errorFeedback = error;
                }
            };

            context.addInput(validateComponent);

            return () => {
                context.removeInput(validateComponent);
            };
        });
    }

    function handleChange(e) {
        value = controlRef.checked;
        isValid = true;

        dispatch('change', value);

        firstUserIteractionDone = true;
        validate();
    }

    export function focusInput() {
        controlRef.focus();
    }

    export function validate(force = false) {
        isValid = true;
        errorFeedback = undefined;

        if (constraints == null) {
            return true;
        }

        if (!firstUserIteractionDone && !force) {
            return isValid;
        }

        const errors = constraints
            .map(constraint => constraint(value))
            .filter(errorMsg => errorMsg !== undefined);

        isValid = !errors || errors.length === 0;
        errorFeedback = errors.length > 0 ? errors[0] : null;

        return isValid;
    }

    export function resetValidationState() {
        isValid = true;
        errorFeedback = undefined;
        firstUserIteractionDone = false;
    }
</script>

<div class="checkbox-wrapper checkbox--theme-{theme} {focus ? 'checkbox-wrapper--focused' : ''} {!isValid ? 'checkbox-wrapper--invalid': ''}" on:click={() => controlRef.focus()}
    class:checkbox-wrapper--no-margin={noMargin}
>
    <div class="checkbox checkbox--size-{size} {focus ? 'checkbox--focused' : ''} {!isValid ? 'checkbox--invalid': ''}">
        <label class="checkbox__label-wrapper" for={id}>
            <input
                bind:this={controlRef} 
                class="checkbox__input" 
                name={name}
                type="checkbox"

                id={id} 
                value={true} 
                checked={value}
                on:change={() => handleChange()}
                on:focus={() => focus = true}
                on:blur={() => focus = false}
            />
            <span class="checkbox__control {value ? 'checkbox__control--checked' : ''}"></span>

            <span class="checkbox__label">
                {label}

                {#if !isValid && errorFeedback}
                    <span class="checkbox__label__validation-message">
                        {errorFeedback}
                    </span>
                {/if}
            </span>
        </label>
    </div>
</div>

<style lang="scss">
@import "./styles/_checkbox.scss";
</style>