<script>
    import { createEventDispatcher, getContext, onMount } from 'svelte';
    const dispatch = createEventDispatcher();

    import DropdownContainer from '../nodes/DropdownContainer.svelte';
    import { v4 } from 'node-uuid';

    export let label = '';
    /** @type {'normal'|'small'|'large'} */
    export let size = 'normal';
    /** @type {'default'|'simple'} */
    export let type = 'default';
    export let name = '';
    export let allowNull = false;
    export let options = [];
    export let disabledValues = [];
    export let value = '';
    export let id = '';
    export let focus = false;
    export let isValid = true;
    export let errorFeedback = undefined;
    export let constraints = [];
    export let autocomplete = undefined;

    import { valueIsNotEmpty } from '../utils/validations';

    let containerRef;
    let controlRef;
    let firstUserIteractionDone = false;
    let dropdownShown = false;
    let containerWidth;

    if (focus) {
        setTimeout(() => {
            controlRef && controlRef.focus();
        }, 100);
    }

    id = id && id.length > 0 ? id : v4();

    $: hasValue = valueIsNotEmpty(value);
    $: selectedOption = options.find(option => option.value === value);
    $: valueText = (value === undefined || value === null || selectedOption == null)
        ? 'Не выбрано' 
        : selectedOption.title;

    const context = getContext('form');
    if (context) {
        onMount(() => {
            const validateComponent = {
                getName: () => name,
                getValue: () => value,
                validate: () => validate(true),
                reset: () => resetValidationState(),
                setError: (error) => {
                    isValid = error == null;
                    errorFeedback = error;
                }
            };

            context.addInput(validateComponent);

            return () => {
                context.removeInput(validateComponent);
            };
        });
    }

    function handleInput() {
        value = controlRef.value;
        isValid = true;

        dispatch('change', value);
        validate();
    }

    function handleChange() {
        firstUserIteractionDone = true;
        validate();
    }

    function handleDropdownOptionSelected(option) {
        firstUserIteractionDone = true;
        value = option
            ? option.value
            : null;

        dropdownShown = false;
        isValid = true;

        dispatch('change', value);
        validate();
    }

    export function focusInput() {
        controlRef.focus();
    }

    export function validate(force = false) {
        isValid = true;
        errorFeedback = undefined;

        if (constraints == null) {
            return true;
        }

        if (!firstUserIteractionDone && !force) {
            return isValid;
        }

        const errors = constraints
            .map(constraint => constraint(value))
            .filter(errorMsg => errorMsg !== undefined);

        isValid = !errors || errors.length === 0;
        errorFeedback = errors.length > 0 ? errors[0] : null;

        return isValid;
    }

    export function resetValidationState() {
        isValid = true;
        errorFeedback = undefined;
        firstUserIteractionDone = false;
    }

    function handleDropdownToggle() {
        dropdownShown = !dropdownShown;
    }
</script>

<div class="dropdown-container" bind:this={containerRef}>
    <input 
        bind:this={controlRef} 
        class="dropdown__input"
        name={name}
        type="hidden"
        id={id} 
        value={value}
    />

    <div class="dropdown-wrapper dropdown-wrapper--{type} input-wrapper input-wrapper--{size}"
        class:input-wrapper--focused={focus}
        class:input-wrapper--invalid={!isValid}
        on:click={() => controlRef.focus()}
        bind:clientWidth={containerWidth}
    >
        <button type="button" class="dropdown dropdown--{type} input input--{size} input--with-value"
            class:input--focused={focus}
            class:input--invalid={!isValid}
            on:focus={() => focus = true}
            on:blur={() => focus = false}
            on:click={() => handleDropdownToggle()}
        >
            <span class="input__label">
                <label for={id}>{label}</label>
                {#if !isValid && errorFeedback}
                    <span class="input__label__validation-message">
                        {errorFeedback}
                    </span>
                {/if}
            </span>

            <span class="dropdown__value"
                class:dropdown__value--empty={!hasValue}>
                {valueText}
            </span>

            <span class="dropdown__icon">
                <span class="fas fa-chevron-down"></span>
            </span>
        </button>
    </div>

    {#if dropdownShown}
        <DropdownContainer outerContainerRef={containerRef} containerWidth={containerWidth} on:close={() => dropdownShown = false}>
            {#if allowNull}
                <div class="dropdown__item-container" class:dg-dropdown__item-container--selected={!hasValue}>
                    <button type="button" 
                        class="dropdown__item dropdown__item--check" 
                        class:dropdown__item--selected={!hasValue}
                        on:click={() => handleDropdownOptionSelected(null)}
                    >
                        Не выбрано
                    </button>
                </div>
            {/if}
            {#each options as option}
                <div class="dropdown__item-container">
                    <button type="button" 
                        class="dropdown__item dropdown__item--check" 
                        class:dropdown__item--selected={value == option.value}
                        class:dropdown__item--disabled={value != option.value && disabledValues.includes(option.value)}
                        disabled={value != option.value && disabledValues.includes(option.value)}
                        on:click={() => handleDropdownOptionSelected(option)}
                    >
                        {option.title}
                    </button>
                </div>
            {/each}
        </DropdownContainer>
    {/if}
</div>

<style lang="scss">
@import './styles/_input.scss';
@import './styles/_dropdown.scss';
</style>