<script>
    import { createEventDispatcher, setContext, getContext, onMount } from 'svelte';
    const dispatch = createEventDispatcher();

    import { validateInputs } from '../utils/validations';

    export let formErrorDescription;

    export let method = 'POST';
    export let action = '';
    export let useDefaultSubmit = false;

    let inputs = [];

    export function getValuesObject() {
        return inputs.reduce((o, component) => {
            const componentName = component.getName();
            if (componentName && componentName.length > 0) {
                o[component.getName()] = component.getValue();
            }
            
            return o;
        }, {});
    }

    export function validate() {
        formErrorDescription = undefined;

        const isFormValid = validateInputs(inputs);
        return isFormValid;
    }

    export function handleServerResponse(response) {
        if (!response) {
            return;
        }

        inputs.forEach(component => component.reset());

        if (response.error) {
            formErrorDescription = response.error.description;

            if (response.content) {
                Object.keys(response.content).forEach(inputName => {
                    const component = inputs.find(c => c.getName() === inputName);

                    if (component && response.content[inputName]) {
                        component.setError(response.content[inputName]);
                    }
                });
            }
        }
    }

    export function addInput(component) {
        inputs = [...inputs, component];
    }

    export function removeInput(component) {
        inputs = inputs.filter(c => c !== component);
    }

    function handleFormSubmit(e) {
        if (useDefaultSubmit) {
            if (validate()) {
                return;
            }

            e.preventDefault();
            return;
        }

        e.preventDefault();

        dispatch('submit', getValuesObject());
    }

    const context = getContext('form');
    if (context) {
        onMount(() => {
            const validateComponent = {
                getName: () => null,
                getValue: () => getValuesObject(),
                validate: () => validate(),
                reset: () => {},
                setError: (error) => { }
            };

            context.addInput(validateComponent);

            return () => {
                context.removeInput(validateComponent);
            };
        });
    }

    setContext('form', {
        addInput: addInput,
        removeInput: removeInput
    });
</script>

<form class="form" method={method} action={action} on:submit={e => handleFormSubmit(e)}>
    <slot></slot>
    {#if formErrorDescription}
        <div class="form__validation-message">
            {formErrorDescription}
        </div>
    {/if}
</form>

<style lang="scss">
.form__validation-message {
    size: $font-size--small;
    color: $color-invalid;
}
</style>