<script>
    import { createEventDispatcher, getContext, onMount } from 'svelte';
    const dispatch = createEventDispatcher();

    import { v4 } from 'node-uuid';

    export let label = '';
    /** @type {'normal'|'small'|'large'} */
    export let size = 'normal';
    export let name = '';
    export let type = 'text';
    export let value = '';
    export let disabled = false;
    export let id = '';
    export let focus = false;
    export let isValid = true;
    export let errorFeedback = undefined;
    export let constraints = [];
    export let autocomplete = undefined;
    export let noMargin = false;
    export let hideLabelOnError = false;

    import { valueIsNotEmpty } from '../utils/validations';

    let controlRef;
    let firstUserIteractionDone = false;

    if (focus) {
        setTimeout(() => {
            controlRef && controlRef.focus();
        }, 100);
    }

    id = id && id.length > 0 ? id : v4();

    $: hasValue = valueIsNotEmpty(value);

    const context = getContext('form');
    if (context) {
        onMount(() => {
            const validateComponent = {
                getName: () => name,
                getValue: () => value,
                validate: () => validate(true),
                reset: () => resetValidationState(),
                setError: (error) => {
                    isValid = error == null;
                    errorFeedback = error;
                }
            };

            context.addInput(validateComponent);

            return () => {
                context.removeInput(validateComponent);
            };
        });
    }

    function handleInput() {
        setTimeout(() => {
            value = controlRef.value;
            isValid = true;

            dispatch('change', value);
            validate();
        });
    }

    function handleChange() {
        dispatch('changeComplete', value);

        firstUserIteractionDone = true;
        validate();
    }

    export function focusInput() {
        controlRef.focus();
    }

    export function validate(force = false) {
        isValid = true;
        errorFeedback = undefined;

        if (constraints == null) {
            return true;
        }

        if (!firstUserIteractionDone && !force) {
            return isValid;
        }

        const errors = constraints
            .map(constraint => constraint(value))
            .filter(errorMsg => errorMsg !== undefined);

        isValid = !errors || errors.length === 0;
        errorFeedback = errors.length > 0 ? errors[0] : null;

        return isValid;
    }

    export function resetValidationState() {
        isValid = true;
        errorFeedback = undefined;
        firstUserIteractionDone = false;
    }
</script>

<div class="input-wrapper input-wrapper--{size} {focus ? 'input-wrapper--focused' : ''} {!isValid ? 'input-wrapper--invalid': ''}" 
    class:input-wrapper--no-margin={noMargin}
    on:click={() => controlRef.focus()}>
    <div class="input input--{size} {focus ? 'input--focused' : ''} {hasValue ? 'input--with-value' : ''} {!isValid ? 'input--invalid': ''}">
        <span class="input__label">
            <label class:hidden={hideLabelOnError && !isValid && errorFeedback} for={id}>{label}</label>
            {#if !isValid && errorFeedback}
                <span class="input__label__validation-message">
                    {errorFeedback}
                </span>
            {/if}
        </span>
        <input 
            bind:this={controlRef} 
            class="input__control" 
            name={name}
            id={id} 
            type={type} 
            value={value === null || value === undefined ? '' : value} 
            autocomplete={autocomplete}
            disabled={disabled}
            on:input={handleInput}
            on:paste={handleInput}
            on:cut={handleInput}
            on:change={handleChange}
            on:focus={() => focus = true}
            on:blur={() => focus = false}
        />
        <span class="input__tool-container">
            <slot></slot>
        </span>
    </div>
</div>

<style lang="scss">
@import './styles/_input.scss';
</style>