<script>
    import { createEventDispatcher, getContext, onMount } from 'svelte';
    const dispatch = createEventDispatcher();

    import { v4 } from 'node-uuid';

    export let label = '';
    /** @type {'normal'|'small'|'large'} */
    export let size = 'normal';
    export let name = '';
    export let type = 'text';
    export let value = '';
    export let id = '';
    export let focus = false;
    export let isValid = true;
    export let errorFeedback = undefined;
    export let constraints = [];
    export let autocomplete = undefined;
    export let placeholder = undefined;
    export let minHeight = 8;

    import { valueIsNotEmpty } from '../utils/validations';

    let controlRef;
    let firstUserIteractionDone = false;

    if (focus) {
        setTimeout(() => {
            controlRef && controlRef.focus();
        }, 100);
    }

    id = id && id.length > 0 ? id : v4();

    $: hasValue = valueIsNotEmpty(value) || placeholder;

    const context = getContext('form');
    if (context) {
        onMount(() => {
            const validateComponent = {
                getName: () => name,
                getValue: () => value,
                validate: () => validate(true),
                reset: () => resetValidationState(),
                setError: (error) => {
                    isValid = error == null;
                    errorFeedback = error;
                }
            };

            context.addInput(validateComponent);

            return () => {
                context.removeInput(validateComponent);
            };
        });
    }

    function handleInput() {
        value = controlRef.value;
        isValid = true;

        dispatch('change', value);
        validate();
    }

    function handleChange() {
        dispatch('changeComplete', value);

        firstUserIteractionDone = true;
        validate();
    }

    export function focusInput() {
        controlRef.focus();
    }

    export function validate(force = false) {
        isValid = true;
        errorFeedback = undefined;

        if (constraints == null) {
            return true;
        }

        if (!firstUserIteractionDone && !force) {
            return isValid;
        }

        const errors = constraints
            .map(constraint => constraint(value))
            .filter(errorMsg => errorMsg !== undefined);

        isValid = !errors || errors.length === 0;
        errorFeedback = errors.length > 0 ? errors[0] : null;

        return isValid;
    }

    export function resetValidationState() {
        isValid = true;
        errorFeedback = undefined;
        firstUserIteractionDone = false;
    }
</script>

<div class="input-wrapper input-wrapper--{size} {focus ? 'input-wrapper--focused' : ''} {!isValid ? 'input-wrapper--invalid': ''}" on:click={() => controlRef.focus()}>
    <div class="input input--{size} {focus ? 'input--focused' : ''} {hasValue ? 'input--with-value' : ''} {!isValid ? 'input--invalid': ''}">
        <span class="input__label">
            <label for={id}>{label}</label>
            {#if !isValid && errorFeedback}
                <span class="input__label__validation-message">
                    {errorFeedback}
                </span>
            {/if}
        </span>
        <textarea 
            bind:this={controlRef} 
            class="input__control" 
            name={name}
            id={id} 
            type={type} 
            value={value === null || value === undefined ? '' : value} 
            autocomplete={autocomplete}
            placeholder={placeholder}
            style="min-height: {minHeight}em;"
            on:input={handleInput}
            on:change={handleChange}
            on:focus={() => focus = true}
            on:blur={() => focus = false}
        />
        <span class="input__tool-container">
            <slot></slot>
        </span>
    </div>
</div>

<style lang="scss">
$color-label: $color-primary--dark;

.input-wrapper {
    cursor: text;
    border: $outline-border-width solid transparent;
    border-radius: $border-radius;
    padding: $outline-padding;
    margin-bottom: $margin;

    &.input-wrapper--focused {
        border-color: $color-focus;
    }

    &.input-wrapper--normal {
        margin-bottom: 5px;
    }
}

.input {
    padding: $spacing--100 $spacing--200;
    color: $color-text--black;
    background: $color-text;
    border-radius: $border-radius;
    cursor: text;
    border: 1px solid transparent;
}

.input__label, .input__control {
    display: block;
    cursor: text;
}

.input__label {
    color: $color-label;
    font-size: $font-size--mini;
    line-height: $font-size--mini + 2px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    cursor: text;
    transform: translateY(10px);
    transition: all 0.15s ease-in-out;

    label {
        cursor: text;
    }
}

.input__label__validation-message {
    color: $color-invalid;
    text-transform: none;
    font-weight: normal;
    font-style: italic;
}

.form__validation-message {
    clear: both;
    text-align: center;
    color: $color-invalid;
    text-transform: none;
    font-weight: normal;
}

.input__control {
    color: $color-text--black;
    width: 100%;
    font-size: $font-size;
    line-height: $font-size + 3px;
    min-height: 8em;
    font-weight: bold;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.input__tool-container {
    float: right;
    transform: translate(15px, -36px);
}

.input {
    &.input--focused, &.input--with-value {
        .input__label {
            transform: translateY(-2px);
        }
    }

    &.input--invalid {
        border-color: $color-invalid;

        .input__label {
            color: $color-invalid;
        }
    }

    &.input--small {
        
    }

    &.input--normal {
        padding: 2px $spacing--200;

        .input__control {
            font-size: $font-size--small;
            line-height: $font-size--small + 2px;
            font-weight: 500;
            resize: none;
        }

        .input__label {
            font-size: $font-size--mini;
            font-weight: 500;
        }

        &.input--focused, &.input--with-value {
            .input__label {
                font-size: 10px;
                transform: translateY(-1px);
            }
        }
    }

    &.input--large {

    }
}
</style>