<script>
    import { createEventDispatcher } from 'svelte';
    const dispatch = createEventDispatcher();

    import DropdownContainer from './DropdownContainer';

    export let items = [];

    export let containerWidth = 300;
    export let active = false;

    function handleDropdownItemSelected(item) {
        active = false;
        dispatch('close');
        dispatch('select', item);

        if (item.href) {
            document.location.href = item.href;
            return;
        }

        if (typeof item.onClick === 'function') {
            typeof item.onClick(item);
            return;
        }
    }
</script>

<DropdownContainer bind:active={active} containerWidth={containerWidth} on:close>
    {#each items as item}
        <div class="dropdown__item-container">
            <button type="button" 
                class="dropdown__item"
                on:click={() => handleDropdownItemSelected(item)}
            >
                <span class="dropdown__item__icon">
                    {#if item.icon}
                        {#if typeof item.icon === 'string'}
                            <img src={item.icon} alt="" />
                        {:else}
                            <img class="dropdown__item__icon__image--default" src={item.icon.default} alt="" />
                            <img class="dropdown__item__icon__image--hover" src={item.icon.hover} alt="" />
                        {/if}
                    {/if}
                </span>
                <span class="dropdown__item__text">
                    {item.title}
                </span>
            </button>
        </div>
    {/each}
</DropdownContainer>

<style lang="scss">
@import "./styles/_dropdownContainer.scss";
</style>