<script>
    import { createEventDispatcher, onMount } from 'svelte';
    const dispatch = createEventDispatcher();

    export let containerWidth = 300;
    export let outerContainerRef;

    let containerRef;
    let anchorRef;
    let anchorClientRect = {};

    let leftPosition = 0;
    $: {
        if (anchorClientRect) {
            const predictedLeftPosition = anchorClientRect.left + window.scrollX;
            const rightCornerPosition = predictedLeftPosition + containerWidth;

            if (window.innerWidth < rightCornerPosition) {
                leftPosition = anchorClientRect.right - containerWidth;
            } else {
                leftPosition = predictedLeftPosition;
            }
        }
    }

    onMount(() => {
        const documentClickHandler = (e) => {
            if (containerRef || outerContainerRef) {
                if (!(outerContainerRef || containerRef).contains(e.target)) {
                    dispatch('close');
                }
            }
        };

        document.addEventListener('click', documentClickHandler);

        anchorClientRect = anchorRef.getClientRects()[0];
        const intervalId = setInterval(() => {
            anchorClientRect = anchorRef.getClientRects()[0];
        }, 10);

        return () => {
            document.removeEventListener('click', documentClickHandler);
            clearInterval(intervalId);
        };
    });
</script>

<div bind:this={anchorRef}></div>
<div bind:this={containerRef} 
    class="dropdown-children dropdown-children--fix-height" 
    style={`
        width: ${containerWidth + 5}px;
        top: ${anchorClientRect.top + window.scrollY}px;
        left: ${leftPosition}px;
    `}
>
    <slot></slot>
</div>

<style lang="scss">
@import "./styles/_dropdownContainer.scss";
</style>