<script>
    export let icon = '';
    export let header = '';
    export let text = '';
</script>

<div class="placeholder">
    {#if icon}
        <div class="placeholder__icon">
            <span class={icon}></span>
        </div>
    {/if}
    <div class="placeholder__content">
        {#if header}
            <div class="placeholder__header">
                {header}
            </div>
        {/if}

        <div class="placeholder__text">
            {#if text}
                <div>
                    {text}
                </div>
            {/if}
            <slot></slot>
        </div>
    </div>
</div>

<style lang="scss">
.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        font-size: 64px;
        flex: 1 1 auto;
        color: $color-text--gray-dark;
        padding: $spacing--200;
    }

    &__content {
        flex: 1 1 auto;
        padding: 0 $spacing--200;
        text-align: center;
    }

    &__header {
        font-size: 1.2em;
        font-weight: 600;
        line-height: 1.4em;
        color: $color-text--gray-dark;
        margin-bottom: $spacing--100;
    }

    &__text {
        font-size: 400px;
        font-size: 0.9em;
        color: $color-text--gray-dark;
    }
}
</style>