<script>
    /** @type {'64'|'32'|'24'|'16'} */
    export let size = '64';
</script>

<div class="lds-ring lds-ring--size--{size}"><div></div><div></div><div></div><div></div></div>

<style lang="scss">
@import "./styles/_spinLoader.scss";
</style>