<script>
    import { onMount } from 'svelte';

    let clientWidth = 0;
    let backgroundPosition = 0;
    let prevTime = null;

    onMount(() => {
        let stopeed = false;

        const handleAnimationFrame = (t) => {
            if (prevTime !== null) {
                const dt = t - prevTime;
                backgroundPosition = backgroundPosition + dt * 0.05;
                if (backgroundPosition > clientWidth) {
                    backgroundPosition = backgroundPosition - clientWidth;
                }
            }

            prevTime = t;

            if (!stopeed) {
                requestAnimationFrame(handleAnimationFrame);
            }
        }

        requestAnimationFrame((t) => {
            handleAnimationFrame(t);
        });

        return () => stopeed = true;
    });
</script>

<span class="stub">
    <span class="stub__text" bind:clientWidth={clientWidth} style="background-position-x: {Math.round(backgroundPosition)}px">
        {window.Lang.content_loading}
    </span>
</span>

<style lang="scss">
@import "./styles/stub";
</style>