@function opacify($color, $amount) {
    @return rgba(red($color), green($color), blue($color), $amount);
}

@mixin fas-icon($icon-content) {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: fa-content($icon-content);
}

@mixin far-icon($icon-content) {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    content: fa-content($icon-content);
}

@mixin empty-placeholder() {
    font-size: 12px;
    font-style: italic;
    color: $color-secondary;
}