$color-background: #25274D !default;
$color-text: #FEFEFE !default;
$color-text--gray: #F0F0F0 !default;
$color-text--gray-dark: rgba(67, 68, 93, 0.6) !default;
$color-text--black: #101010 !default;

$color-white: #FFFFFF !default;

$color-inline-hover: rgba(0, 0, 0, 0.2) !default;

$color-secondary: #e5e7ff !default;
$color-secondary--dark: #464866 !default;

$color-primary: #2E9CCA !default;
$color-primary--dark: #29648A !default;

$color-danger: #FE3036 !default;
$color-danger--dark: #A51014 !default;

$color-warning: #FF9531 !default;
$color-warning--dark: #A65910 !default;

$color-success: #35E42C !default;
$color-success--dark: #15940E !default;

$color-focus: #4d90fe !default;
$color-invalid: $color-danger;

$color-link: #3cf !default;
$color-link--hover: #fd3 !default;

$outline-border-width: 2px !default;
$outline-padding: 4px !default;

$color-label: $color-primary--dark !default;

$font-size--mini: 12px;
$font-size--small: 14px;
$font-size: 16px;
$font-size--medium: 18px;
$font-size--large: 22px;

$border-radius: 4px;
$border-radius--large: 6px;
$border-width: 7px;

$margin--small: 8px;
$margin: 12px;
$margin--large: 24px;

$spacing--100: 8px;
$spacing--200: 16px;
$spacing--300: 24px;

$control-size--small: 26px;
$control-size: 38px;
$control-size--large: 55px;

$aside-width: 200px;
$content-width: 900px;