<script>
    import { createEventDispatcher } from 'svelte';
    const dispatch = createEventDispatcher();

    import Button from '../../inputs/Button';

    export let currentPage = 0;
    export let totalPagesCount = 0;
    export let disabled = false;

    $: hasPages = totalPagesCount > 0;
    $: canNavigateToPrevPage = hasPages && currentPage > 0;
    $: canNavigateToNextPage = hasPages && currentPage < totalPagesCount - 1;

    function handlePageNavigated(newPageIndex) {
        currentPage = newPageIndex;
        dispatch('navigate', currentPage);
    }
</script>

{#if hasPages}
    <div>
        <Button 
            size="small" 
            noMargin 
            disabled={!canNavigateToPrevPage || disabled} 
            on:click={() => handlePageNavigated(currentPage - 1)}
        >
            &larr;
        </Button>

        {#if currentPage > 0}
            <Button size="small" noMargin disabled={disabled} on:click={() => handlePageNavigated(0)}>
                {1}
            </Button>
        {/if}

        {#if currentPage > 2}
            ...
        {/if}

        {#if currentPage > 1}
            <Button size="small" noMargin disabled={disabled} on:click={() => handlePageNavigated(currentPage - 1)}>
                {currentPage}
            </Button>
        {/if}

        <Button type="primary" size="small" noMargin disabled={disabled} on:click={() => handlePageNavigated(currentPage)}>
            {currentPage + 1}
        </Button>

        {#if currentPage < totalPagesCount - 2}
            <Button size="small" noMargin disabled={disabled} on:click={() => handlePageNavigated(currentPage + 1)}>
                {currentPage + 2}
            </Button>
        {/if}
        
        {#if currentPage < totalPagesCount - 3}
            ...
        {/if}

        {#if currentPage < totalPagesCount - 1}
            <Button size="small" noMargin disabled={disabled} on:click={() => handlePageNavigated(totalPagesCount - 1)}>
                {totalPagesCount}
            </Button>
        {/if}

        <Button 
            size="small" 
            noMargin 
            disabled={!canNavigateToNextPage || disabled} 
            on:click={() => handlePageNavigated(currentPage + 1)}
        >
            &rarr;
        </Button>
    </div>
{/if}