$button-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) !default;
$button-shadow--active: 0 1px 5px rgba(0, 0, 0, 0.3) !default;
$button-shadow--disabled: none !default;

.button-wrapper {
    display: inline-block;
    padding: $outline-padding;
    border: $outline-border-width solid transparent;
    margin-bottom: $margin;
    transform: translateY(-2px);
    border-radius: $border-radius;

    &.button-wrapper--focus {
        border-color: $color-focus;
    }

    &.button-wrapper--normal {
        margin-bottom: $margin--small;
    }

    &.button-wrapper--large {

    }

    &.button-wrapper--no-margin {
        margin-bottom: 0;
    }
}

.button {
    border: none;
    height: 55px;
    border-radius: $border-radius;
    text-align: center;
    min-width: 160px;
    font-size: $font-size--small;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    box-shadow: $button-shadow;
    padding: inherit;
    
    &:active {
        transform: translate(1px, 1px);
        box-shadow: $button-shadow--active;
    }

    &.button--focus {
        outline: none;
    }

    &.button--disabled {
        background: #ddd;
        box-shadow: $button-shadow--disabled;
        pointer-events: none;
    }

    &.button--empty {
        width: auto;
        min-width: auto;
        padding: 0 12px;
    }
}

.button--large {
    height: $control-size--large;
    border-radius: $border-radius--large;
    padding: $spacing--200 $spacing--300;
    min-width: 200px;
    font-size: $font-size;
    text-transform: uppercase;
}

.button--normal {
    height: $control-size;
}

.button--small {
    height: $control-size--small;
    font-size: $font-size--small;
    font-weight: 400;
    line-height: 17px;
    padding: 2px $spacing--200;
    min-width: auto;
    text-transform: none;
}

.button--default {
    background: $color-white;
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover {
        background: $color-secondary;
    }
}

.button--primary {
    background: $color-primary;
    color: $color-text;

    &:hover {
        background: $color-primary--dark;
    }
}

.button--danger {
    background: $color-danger;
    color: $color-text;

    &:hover {
        background: $color-danger--dark;
    }
}

.button--link {
    background: transparent;
    box-shadow: none;
    color: $color-text;

    &:hover {
        text-decoration: underline;
        background: transparent;
    }

    &:active {
        box-shadow: inset 1px 1px 3px #000;
    }
}

.button--rounded {
    border-radius: 100px;
}
