.checkbox-wrapper {
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 12px;
    text-align: center;

    &.checkbox-wrapper--focused {
        border-color: $color-focus;
    }

    &.checkbox-wrapper--no-margin {
        margin: 0 !important;
    }
}

.checkbox {
    max-width: 280px;
    display: flex;
}

.checkbox__label-wrapper {
    display: flex;
    cursor: pointer;
}

.checkbox__label {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}

.checkbox__label__validation-message {
    color: $color-invalid;
    text-transform: none;
    font-weight: normal;
    font-style: italic;
}

.checkbox__input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    left: -100000px;
}

.checkbox__control {
    display: inline-block;
    width: $control-size--small;
    height: $control-size--small;
    border-radius: $border-radius;
    color: #fff;
    background: transparent;
    border: 1px solid $color-secondary;
    box-sizing: border-box;
    overflow: hidden;
    margin-right: $spacing--100;
    transition: all 0.28s ease-in-out;

    &::before {
        content: ' ';
        display: block;
        background: $color-primary;
        opacity: 0;
        height: 100%;
        width: 100%;
        transition: all 0.28s ease-in-out;
        margin-bottom: -24px;
    }

    &::after {
        @include fas-icon($fa-var-check);
        display: block;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 0.28s ease-in-out;
    }

    &.checkbox__control--checked {
        border: 1px solid $color-secondary--dark;

        &::before {
            opacity: 1;
        }

        &::after {
            transform: translateY(2px);
        }
    }
}

.checkbox--theme-dark {
    .checkbox__label {
        color: $color-text--black;
    }

    .checkbox__control {
        border-color: $color-secondary--dark;
    }
}

.checkbox--size-small {
    .checkbox__control {
        width: 16px;
        height: 16px;
        font-size: 10px;
        line-height: 14px;

        &::before {
            margin-bottom: -16px;
        }
    }

    .checkbox__label {
        font-size: 14px;
        line-height: 16px;
    }
}