.dropdown-container {
    width: 100%;
}

.dropdown__input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    left: -10000px;
}

.dropdown-wrapper {
    .input, .input__label {
        cursor: pointer;
    }
}

.dropdown {
    display: block;
    width: 100%;
    text-align: left;
    outline: none;
    appearance: none;
}

.dropdown__icon {
    float: right;
}

.dropdown__icon--black {
    //background-image: url('/content/images/icon--arrow-down--black.svg');
}

.dropdown-children {
    position: absolute;
    z-index: 10;
    background: #fff;
    box-shadow: 3px 4px 35px rgba(130, 130, 130, 0.65);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    overflow-y: auto;

    &.dropdown-children--fix-height {
        max-height: 200px;
    }
}

.dropdown__item-container {
    display: block;
    width: 100%;

    &:first-child .dropdown__item {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    &:last-child .dropdown__item {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

.dropdown__item {
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
    background: transparent;
    padding: 13px 30px 12px 30px;
    border: none;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    &:not(:hover) {
        .dropdown__item__icon__image--hover {
            display: none;
        }
    }

    &:hover {
        background: #F6F9FF;

        .dropdown__item__icon__image--default {
            display: none;
        }
    }

    .dropdown__item__icon {
        width: 16px;
        display: inline-block;
        transform: translateY(4px);
        margin-right: 10px;
    }

    &.dropdown__item--checked {
        &:hover, &.dropdown__item--selected {
            background: #F6F9FF;// url('/content/images/icon--check--green.svg');
            background-repeat: no-repeat;
            background-size: 12px 12px;
            background-position: 7px 16px;
            border: none;
        }
    }
}

.input__label.input__label--simple {
    transform: none;
    margin-bottom: 12px;
    text-transform: none;
    color: #000000;
}

.dropdown__value--empty {
    color: #29648A;
}