.input-wrapper {
    cursor: text;
    border: $outline-border-width solid transparent;
    border-radius: $border-radius;
    padding: $outline-padding;
    margin-bottom: $margin;
    transform: translateY(-2px);

    &.input-wrapper--focused {
        border-color: $color-focus;
    }

    &.input-wrapper--normal {
        margin-bottom: 5px;
    }

    &.input-wrapper--no-margin {
        margin-bottom: 0 !important;
    }
}

.input {
    padding: $spacing--100 $spacing--200;
    color: $color-text--black;
    background: $color-text;
    border-radius: $border-radius;
    cursor: text;
    border: 1px solid $color-text--gray-dark;
}

.input__label, .input__control {
    display: block;
    cursor: text;
}

.input__label {
    color: $color-label;
    font-size: $font-size--mini;
    line-height: $font-size--mini + 2px;
    margin: 0;
    cursor: text;
    transform: translateY(10px);
    transition: all 0.15s ease-in-out;

    label {
        cursor: text;
    }
}

.input__label__validation-message {
    color: $color-invalid;
    text-transform: none;
    font-weight: normal;
    font-style: italic;
}

.form__validation-message {
    clear: both;
    text-align: center;
    color: $color-invalid;
    text-transform: none;
    font-weight: normal;
}

.input__control {
    color: $color-text--black;
    width: 100%;
    font-size: $font-size;
    line-height: $font-size + 3px;
    font-weight: bold;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.input__tool-container {
    float: right;
    transform: translate(15px, -36px);
}

.input {
    &.input--focused, &.input--with-value {
        .input__label {
            transform: translateY(-2px);
        }
    }

    &.input--invalid {
        border-color: $color-invalid;

        .input__label {
            color: $color-invalid;
        }
    }

    &.input--small {
        
    }

    &.input--normal {
        padding: 2px $spacing--200;

        .input__control {
            font-size: $font-size--small;
            line-height: $font-size--small + 2px;
            font-weight: 500;
        }

        .input__label {
            font-size: $font-size--mini;
            font-weight: 500;
        }

        &.input--focused, &.input--with-value {
            .input__label {
                font-size: 10px;
                transform: translateY(-1px);
            }
        }
    }

    &.input--large {

    }
}