.table {
    display: table;
    width: 100%;
}

.table__loader {
    text-align: center;
}

.table__cell {
    display: table-cell;
    flex: 1 0 auto;
    padding: $spacing--100;
    font-size: 14px;
    font-weight: 300;
    word-break: break-word;
}

.table__row {
    display: table-row;

    &:not(:last-child) {
        .table__cell {
            border-bottom: 1px solid darken($color-secondary, 8%);
        }
    }
}

.table__cell--align-center {
    text-align: center;
}

.table__cell--align-right {
    text-align: right;
}

.table__row--header {
    .table__cell {
        font-weight: 600;
    }
}

.table__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__footer__pager {
    flex: 1 1 auto;
}

.table--hoverable {
    .table__row:hover {
        background: rgba(0, 0, 0, 0.04);
    }
}

.table__cell__sort-button {
    background: none;
    border: none;
    display: inherit;
    font-style: inherit;
    color: inherit;
    font-weight: inherit;
    cursor: pointer;
}